# Test report for math operations module.

## This report shows the result of the manual testing of the modules different math calculations classes and methods. All test cases is related to arrays of numbers since the modules functionality is entierly fosuced in that area.

## Test Cases

| Method Name                  | How It Was Tested                                 | Test Result                         |
|------------------------------|---------------------------------------------------|-------------------------------------|
| 1. calculateMeanValue                               | Tested with valid array and compared calculated mean value by actual mean value verified with a calculator                                                 | OK                                    | 
|2. calculateMeanValue                              | Tested with valid array containing a number 0 and compared calculated mean value with actual mean value verified with a calculator                                                   | OK                                    |
| 3. calculateMeanValue                              | Tested with an invalid array containing strings (not only numbers) to check whether error was catched and message logged.                                                   | OK                                    | 
| 4. calculateGeometricMeanValue                              | Tested with valid array and compared calculated geometric mean value with actual geometric mean value.                                                   | OK                                    |
| 5. calculateGeometricMeanValue                             | Tested with array containg a number 0 to check whether error was catched and message logged.                                                  | OK                                    |
| 6. calculateGeometricMeanValue                             | Tested with an invalid array containing strings (not only numbers) to check whether error was catched and message logged.                                                   | OK                                    |
| 7. calculateHarmonicMeanValue                             | Tested with valid array and compared calculated harmonic mean value with actual harmonic mean value.                                                  | OK                                    | 
| 8. calculateHarmonicMeanValue                              | Tested with array containg a number 0 to check whether error was catched and message logged.                                                  | OK                                    |
| 9. calculateHarmonicMeanValue                             | Tested with an invalid array containing strings (not only numbers) to check whether error was catched and message logged.                                                  | OK                                    |
| 10.                             |                                                   |                                     |
|                              |                                                   |                                     |
|                              |                                                   |                                     |
|                              |                                                   |                                     |
|                              |                                                   |                                     |
|                              |                                                   |                                     |

